<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.kylin.mdx.insight.core.dao.CustomHierarchyMapper">
    <resultMap id="BaseResultMap" type="io.kylin.mdx.insight.core.entity.CustomHierarchy">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="dataset_id" property="datasetId" jdbcType="INTEGER"/>
        <result column="model" property="model" jdbcType="VARCHAR"/>
        <result column="dim_table" property="dimTable" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="dim_col" property="dimCol" jdbcType="VARCHAR"/>
        <result column="weight_col" property="weightCol" jdbcType="VARCHAR"/>
        <result column="description" property="desc" jdbcType="VARCHAR"/>
        <result column="translation" property="translation" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
      id, dataset_id, model, dim_table, name, dim_col, weight_col, description, translation
    </sql>

    <select id="selectByDatasetId" parameterType="io.kylin.mdx.insight.core.entity.CustomHierarchy"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from custom_hierarchy
        where dataset_id=#{datasetId} order by id asc
    </select>

</mapper>
