<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.kylin.mdx.insight.core.dao.NamedDimTableMapper">
    <resultMap id="BaseResultMap" type="io.kylin.mdx.insight.core.entity.NamedDimTable">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="dataset_id" property="datasetId" jdbcType="INTEGER"/>
        <result column="model" property="model" jdbcType="VARCHAR"/>
        <result column="dim_table" property="dimTable" jdbcType="VARCHAR"/>
        <result column="dim_table_alias" property="dimTableAlias" jdbcType="VARCHAR"/>
        <result column="dim_table_type" property="dimTableType" jdbcType="VARCHAR"/>
        <result column="actual_table" property="actualTable" jdbcType="VARCHAR"/>
        <result column="fact_table" property="factTable" jdbcType="VARCHAR"/>
        <result column="translation" property="translation" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
      id, dataset_id, model, dim_table, dim_table_alias, dim_table_type,actual_table,fact_table,translation
    </sql>

    <select id="selectAllDimTableByDatasetIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        id, dataset_id, dim_table, dim_table_alias, actual_table, fact_table
        from named_dim_table
        <where>
            dataset_id in
            <foreach collection="list" item="datasetIdItem" open="(" separator="," close=")">
                #{datasetIdItem}
            </foreach>
        </where>
    </select>

</mapper>
